<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <title>Add product</title>
</head>
<body>
    <div class="container">
        <div class="vh-100 row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 border px-3 py-5 p-md-5 rounded shadow">
                <a class="bg-primary text-white py-2 px-3 rounded text-decoration-none" href="/">Back</a>
                <h3 class="fw-bold mt-3">Add Product</h3>
                <form class="mt-2" action="/products" method="post" enctype="multipart/form-data">
                    <div>
                        <label class="form-label" for="productName">Name</label>
                        <input type="text" id="productName" name="productName" value="<%= locals.productName || "" %>" class="form-control" placeholder="Product Name">
                    </div>
                    <div class="mt-1">
                        <label class="form-label" for="productPrice">Price</label>
                        <input type="text" id="productPrice" name="productPrice" value="<%= locals.productPrice || "" %>" class="form-control" placeholder="Product Price">
                    </div>
                    <div class="mt-1">
                        <label class="form-label" for="productQuantity">Quantity</label>
                        <input type="number" id="productQuantity" name="productQuantity" value="<%= locals.productQuantity %>" class="form-control" placeholder="Product Quantity">
                    </div>
                    <div class="mt-1">
                        <label class="form-label" for="productDescription">Description</label>
                        <textarea id="productDescription" name="productDescription" value="<%= locals.productDescription %>" class="form-control" placeholder="Product Description" rows="3"></textarea>
                    </div>
                    <div class="mt-1">
                        <label class="form-label" for="productImage">Image</label>
                        <input type="file" id="productImage" name="productImage" class="form-control">
                    </div>
                    <% if(locals.isError) { %>
                        <div class="alert alert-danger mt-2" role="alert">
                            <%= locals.errorMessage %>
                        </div>
                    <% } %>
                    <div class="mt-1">
                        <button class="btn btn-success px-3" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>